.header {
  font-size: $large-font-size;
}
.title {
  // font-size: $title-size;
  font-family: $font-stack;
  margin-top: 20px;
  margin-bottom: 20px;
}
.skill-title {
  font-size: 2vw;
  font-family: $font-stack;
  padding: 30px;
  font-weight: 600;
}
.pre-rotate {
  opacity: 0;
  font-size: ($title-size * 0.33) ;
  font-family: $font-stack;
}
.txt-rotate {
  font-size: ($title-size * 0.33) ;
  font-family: $font-stack;
}

.title-one {
  font-weight: 900;
  font-size: $title-size;
  font-family: $font-stack;
  color: black;
  opacity: 0;
}

.title-one .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.title-one .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: black;
  transform-origin: 0 50%;
}

.title-one .line1 { 
  top: 0; 
  left: 0;
}

.title-one .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
