@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$font-stack: "soleil",sans-serif;
$font-style: normal;
$font-weight: 100;
$font-color: pink;
$title-size: 4em;
$large-font-size: 2em;
$pink: #FDECF1;
$blue: #29378B;